/*!
 * Start Bootstrap - One Page Wonder (http://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */

body {
    padding-top: 54px;
    font-family: Open Sans;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


.logo-bar {
    margin-top: 2%;

}

.logo-img {
    width: 100%;
    height: 80%;
}

.home {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.join{
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.uzyma-nav {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    border-bottom: 1px solid #f3f3f3;
}




.nav-item {
    margin-left: 20px;
}

header.masthead {
    margin-top: 8%;
    background: url('../images/uzymabg.png') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead > .overlay {
    padding: 10rem 0;
    text-align: center;
    /*background: rgba(0, 0, 0, 0.6);*/
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 15rem 0;
    }
}



.floating-form {
    position: relative;
    z-index: 1000 !important;
    display: inline-block;
    float: right;

}



#loginform {
    padding: 15px;
}

.input-group{
    padding: 10px;
}

.login-options{
    padding: 10px;
}

