/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


/*@font-face {
    font-family: 'socicon';
    src: url('socicon/font/socicon-webfont.eot');
    src: url('socicon/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('socicon/font/socicon-webfont.woff') format('woff'),
         url('socicon/font/socicon-webfont.ttf') format('truetype'),
         url('socicon/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}*/



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}





body{
    margin:0;
    padding:0;
    color: #fff;
    position: relative;

    font-variant: normal;
    /*font-weight: 400;*/
    font-family: 'LatoRegular'; 
    font-weight: normal; 
    font-style: normal;
    /*src: url(../fonts/Lato-Light.ttf);*/
    text-align: center;
}

.banner{
    height: 355px;
    width: 100%;
    float: left;
    background: url(../images/uzyma-coming-soon.png) center top no-repeat;
    background-size: cover;
}

.wrapper{
    text-align: center;
}

.header{
    width: 70%;
    padding: 20px 15%;
    float: left;
}

.header h1{
    font-family: 'Bowlby One', cursive;
    font-size: 40px;
    text-transform: uppercase;
    color: #333;
}

.header h1 span{
    color: #9e0000;
}

.content-wrapper{
    width: 60%;
    padding: 0 20%;
}

.content{
    width: auto;
    padding: 0px 0;
    text-align: center;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);	
    -webkit-border-radius: 8px;
    border-radius: 8px;	
    margin-bottom: 30px;
    float: center;
    margin-top: 20px;
}

.content-wrapper p.comingsoon{
    color: #03A9F4;
    font-size: 18px;
}

.content-wrapper p.main-content{
    font-size: 20px;
    color: #666;
    line-height: 30px;
}

.mainform{
    width: 60%;
    margin-top: 20px;
    padding:0 20%;
}

.field{
    width: 70%;
    float: left;
}


.field input{
    width: 75%;
    float: left;
    box-sizing: content-box;
    padding: 10px 10%;
    border: 1px solid #eaeae7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #999;
}


.submit{
    width: 30%;
    float: left;
}


.submit input{
    background: #111;
    border-radius: 5px;
    width: 100%;
    float: left;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0;
    border: none;	

}

.submit:hover input{
    background: #9e0000;
}



.social{
    width: 100%;
    float: left;
    margin:30px 0 10px 0;
}

.social a{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

.social a.facebook{
    color: #3b5998;
}

.social a.twitter{
    color: #55acee;
}

.social a.linked-in{
    color: #0077B5;
}

.social a:hover{
    text-decoration: underline;
}



@media only screen and (max-width: 1024px){

    .banner{
        height: 285px;
    }

    .header, .content-wrapper{
        width: 90%;
        padding: 20px 5%;
    }

}



@media only screen and (max-width: 768px){


    .banner{
        height: 180px;
    }

    .header{
        width: 100%;
        padding: 10px 0;
        float: left;
    }

    .header h1{
        font-size: 30px;
    }

    .header h1 span{
        color: #9e0000;
    }


    .content-wrapper{
        width: 100%;
        padding: 0%;
    }


    .content{
        width: 100%;
        padding: 20px 0;
        text-align: center;
        -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);	
        -webkit-border-radius: 8px;
        border-radius: 8px;	
        margin-bottom: 30px;
        float: left;
    }

    .mainform{
        width: 90%;
        margin-top: 20px;
        padding:0 5%;
    }

    .field{
        width: 90%;
        padding: 0 5%;
        float: left;
    }

    .field input{
        width: 80%;
        padding: 15px 10%;
        text-align: center;

    }

    .submit{
        width: 90%;
        padding: 0 5%;
        margin-top: 10px;
        float: left;
    }


}

